body {
  font-size: 16px;
  color: #fff;
  background-color: #303131;
  font-family: 'Roboto', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #6EBBBF;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.nav-tabs {
  border: none;
}
/** END HEADER **/

/** Main Content **/
#main-content{
  font-family: 'Noto Sans JP', sans-serif;
}
#page-title {
  
  font-size:  1.5em;
  font-weight: bold;
  margin-bottom: 20px;

 }
#menu-items{
  background-color: #b0dddf;
  margin: .5vw;
  color: #606161;
}


#menu-items h3{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:  1.5em;
 }
/** End Main Content **/

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
   padding-top: 10px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  .navbar-nav{
    margin-top: 20px;
  }
.navbar-nav div{
  border-bottom: solid;
}
  .navbar-nav a{
    color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;

  }
  .navbar-nav div:hover, .navbar-nav a:hover {
    background: #fff;
    color: #6EBBBF;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #fff;
  }
/* End Header */
}